@model IEnumerable<W9_ProgettoSettimanale.Models.Orders>

@{
    ViewData["Title"] = "Evasione Ordini";
}

<div class="container mt-5">
    <h1 class="mb-4">Evasione Ordini</h1>

    <table class="table table-striped">
        <thead class="bg-info text-white">
            <tr>
                <th>Id. Ordine</th>
                <th>Data Ordine</th>
                <th>Confermato</th>
                <th>Evaso</th>
                <th>Prezzo Totale Ordine</th>
                <th>Indirizzo Spedizione</th>
                <th>Note Aggiuntive</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>#@item.Id</td>
                    <td>@Html.DisplayFor(modelItem => item.PlacedAt)</td>
                    <td>
                        @if (item.IsConfirmed)
                        {
                            <span class="badge bg-success p-2">Si</span>
                        }
                        else
                        {
                            <span class="badge bg-danger p-2">No</span>
                        }
                    </td>
                    <td>
                        @if (item.Done)
                        {
                            <span class="badge bg-success p-2">Si</span>
                        }
                        else
                        {
                            <span class="badge bg-danger p-2">No</span>
                        }
                    </td>
                    <td>€@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                    <td>
                        <form asp-action="IsDone" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-info text-white">Evadi Ordine</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>