@model IEnumerable<W9_ProgettoSettimanale.Models.Orders>

@{
    ViewData["Title"] = "Order";
}

<div class="container mt-5">
    <h1 class="mb-4">Lista Ordini</h1>

    <div class="mb-4">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Clicca qui per vedere il numero totale di ordini evasi:</h5>
            <button id="CountBtn" class="btn btn-info text-white ms-3">Tot. Evasi</button>
        </div>
        <div id="num" class="mt-2"></div>
    </div>

    <div class="mb-4">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Inserisci la data per visualizzare il totale incassato per una determinata giornata dagli ordini evasi:</h5>
            <input type="date" id="dateInput" class="form-control ms-3" style="max-width: 200px;" />
            <button id="CountFromDateBtn" class="btn btn-info text-white ms-3">Tot. Evasi</button>
        </div>
        <div id="date" class="mt-2"></div>
    </div>

    <table class="table table-striped">
        <thead class="bg-info text-white">
            <tr>
                <th>Id. Ordine</th>
                <th>Data Ordine</th>
                <th>Evaso</th>
                <th>Prezzo Totale Ordine</th>
                <th>Indirizzo Spedizione</th>
                <th>Note Aggiuntive</th>
                <th>Utente</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>#@item.Id</td>
                    <td>@Html.DisplayFor(modelItem => item.PlacedAt)</td>
                    <td>
                        @if (item.Done)
                        {
                            <span class="badge bg-success p-2">Si</span>
                        }
                        else
                        {
                            <span class="badge bg-danger p-2">No</span>
                        }
                    </td>
                    <td>€@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                    <td>@item.User.Name</td>
                    <td>
                        <form asp-action="DeleteOrdine" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Elimina Ordine</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>