@model IEnumerable<W9_ProgettoSettimanale.Models.Orders>

@{
    ViewData["Title"] = "Order";
}

<h1>Lista Ordini</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id. Ordine
            </th>
            <th>
                Data Ordine
            </th>
            <th>
                Evaso
            </th>
            <th>
                Prezzo Totale Ordine
            </th>
            <th>
               Indirizzo Spedizione
            </th>
            <th>
                Note Aggiuntive
            </th>
            <th>
                Utente
            </th>
            <th>
                Azioni
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                #@item.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacedAt)
            </td>
                @if (@item.Done)
                {
                    <td>Si</td>
                }
                else
                {
                    <td>No</td>
                }
            <td>
                    €@Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @item.User.Name
            </td>
            <td>
                <form asp-action="DeleteOrdine" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@item.Id"/>
                    <button type="submit" class="btn btn-danger">Elimina Ordine</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
