@model IEnumerable<W9_ProgettoSettimanale.Models.Orders>

@{
    ViewData["Title"] = "Order";
}

<h1>Lista Ordini</h1>

<div class="mt-4">
    <div class="d-flex align-items-center">
        <h5>Clicca qui per vedere il numero totale di ordini evasi:</h5>
        <button id="CountBtn" class="btn btn-primary ms-3">Tot. Evasi</button>
    </div>
    <div id="num"></div>
</div>

<div class="d-flex align-items-center my-4">
    <h5>Inserisci la data per visualizzare il totale incassato per una determinata giornata dagli ordini evasi: </h5>
    <div class="d-flex">
        <input type="date" id="dateInput" class="ms-3" />
        <button id="CountFromDateBtn" class="btn btn-primary ms-3">Tot. Evasi</button>
    </div>

</div>
<div id="date">
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id. Ordine
            </th>
            <th>
                Data Ordine
            </th>
            <th>
                Evaso
            </th>
            <th>
                Prezzo Totale Ordine
            </th>
            <th>
               Indirizzo Spedizione
            </th>
            <th>
                Note Aggiuntive
            </th>
            <th>
                Utente
            </th>
            <th>
                Azioni
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                #@item.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacedAt)
            </td>
                @if (@item.Done)
                {
                    <td>
                        <span class="badge bg-success p-2">Si</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="badge bg-danger p-2">No</span>
                    </td>
                }
            <td>
                    €@Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @item.User.Name
            </td>
            <td>
                <form asp-action="DeleteOrdine" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@item.Id"/>
                    <button type="submit" class="btn btn-danger">Elimina Ordine</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
