@model IEnumerable<W9_ProgettoSettimanale.Models.Products>

@{
    ViewData["Title"] = "GetProdotti";
}

<h1>Lista Prodotti</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Prezzo
                </th>
                <th>
                    Immagine
                </th>
                <th>
                    Tempo Spedizione
                </th>
                <th>
                    Ingredienti
                </th>
                <th>Quantità</th>
                <th>
                    Azioni
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img src="@item.Photo" alt="Product Photo" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryTimeInMinutes) min.
                    </td>
                    <td>
                        @if (item.Ingredients != null && item.Ingredients.Any())
                        {
                            <ul>
                                @foreach (var ingredient in item.Ingredients)
                                {
                                    <li>@ingredient.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>No ingredients</span>
                        }
                    </td>
                    <form asp-action="AddToCart" method="post">
                        <td>
                            <input type="number" name="quantity" value="1" min="1" />
                            <input type="hidden" name="productId" value="@item.Id" />
                        </td>
                       <td>
                    <button type="submit" class="btn btn-warning">Aggiungi All'Ordine</button>
                       </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>

