@model IEnumerable<W9_ProgettoSettimanale.Models.Products>

@{
    ViewData["Title"] = "GetProdotti";
}

<h1>GetProdotti</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryTimeInMinutes)
                </th>
                <th>
                    @Html.DisplayName("Ingredients")
                </th>
                <th>Quantità</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryTimeInMinutes)
                    </td>
                    <td>
                        @if (item.Ingredients != null && item.Ingredients.Any())
                        {
                            <ul>
                                @foreach (var ingredient in item.Ingredients)
                                {
                                    <li>@ingredient.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>No ingredients</span>
                        }
                    </td>
                    <form asp-action="AddToCart" method="post">
                        <td>
                            <input type="number" name="quantity" value="1" min="1" />
                            <input type="hidden" name="productId" value="@item.Id" />
                        </td>
                       <td>
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                       </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>

